.Loginda{
    width: 673px;
    height: 600px;
    background-color: #E7DAD1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.TituloLogin {

font-size: 32px;
color: #A67B5B;
width: 385px;
height: 50px;

}

.inlogin {

  border: 1px solid brown;
  height: 45px;
  width: 398px; 
  border-radius: 8px;
  margin: 5px;
  font-size: 20px;
  color: #9b5c42;
  background-color:#E2E2E2;
 
  padding: 5px; 
  padding-left: 45px; 
  
  box-sizing: border-box; 
}

.input-group {
  position: relative; 
 
  width: 398px; 
  height: 45px;
  margin: 5px auto; 
}

.input-group .icon-input,
.input-group .icon-password {
  position: absolute;
  top: 60%; 
  left: 15px; 
  transform: translateY(-50%); 
  color: #6F4F28; 
  z-index: 10; 
}


.Areabotao{

display: flex;
flex-direction: row;
margin-top: 60px;

}
#botaovoltar {

display: flex;
align-items: center;
justify-content: center;
border: 1px solid #9b5c42;
width: 193px;
height: 45px;
border-radius: 8px;
font-size: 20px;
color: #9b5c42;
margin-right: 14px;


}


.tem-cadastro {

    color: #9B5C42; 
    font-size: 16px;
    font-weight: 400;
    margin: 3px;
    margin-top: px;
    width: 200px;
    
}


.Cadastrar {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 398px;
    height: 50px;
    margin: 55px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 20px;

    background-color: #9B5C42;
    color: #FFFFFF;
    border: none;
    
}


